.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 600px) {
.card-section {
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-text {
 color:blue;
 
}

.card-body {
  background-color: black;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}


.bm-burger-bars {
  background: #373a47;
}


.bm-burger-bars-hover {
  background: #a90000;
}


.bm-cross-button {
  height: 24px;
  width: 24px;
}


.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}


.bm-item {
  display: inline-block;
}


.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.relax {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("");
}
}
@media screen and (min-width:767px) {

.section-home {
display: flex;
justify-content: center;
align-items: center;
background-image: url("https://res.cloudinary.com/ds7w3ysag/image/upload/v1611258832/james-wheeler-ZOA-cqKuJAA-unsplash_etybnl.jpg");
background-repeat: no-repeat;
}  




}